.card {
    margin: 2rem;
    border-radius: 10px;
    padding: 3rem;
    top: 50%;
    background-color: rgba(240, 248, 255, 0.233);
    color: aliceblue;
}

@media screen and (max-width:650px) {
    .card {
        top: 0%;
    }
}