<div class="toolbar overlay" id="myNav" role="banner" style="z-index: 10;">
    <img width="40" alt="Logo" src="https://assets.codepen.io/5521865/internal/avatars/users/default.png?fit=crop&format=auto&height=80&version=1617818343&width=80" />
    <span>Suraj Kushvaha</span>
    <div class="spacer"> </div>

    <a aria-label="Home" title="Home" [class]="home" aria-current="page" routerLinkActive="active" aria-current="page" routerLink="home">
        Home
    </a>
    <a aria-label="Tools" title="Tools" [class]="tools" aria-current="page" routerLinkActive="active" aria-current="page" routerLink="Tools">
        Tools
    </a>
    <a aria-label="User" title="Education" [class]="education" aria-current="page" routerLinkActive="active" aria-current="page" routerLink="Education">
        Education
    </a>

    <a aria-label="Health" title="Health" [class]="health" aria-current="page" routerLinkActive="active" aria-current="page" routerLink="health">
        Health
    </a>
    <a aria-label="About" title="About" [class]="about" aria-current="page" routerLinkActive="active" aria-current="page" routerLink="about">
        About
    </a>

</div>