<div class="happy">
    <h1 style="text-align: center;">Password Genrator</h1>
    <form (ngSubmit)="nggetdata()">
        <div class="input-group w-100">
            <input type="number" class="form-control" name="length" id="length" [(ngModel)]="length" />
            <input class="btn btn-primary" type="submit" value="Genrate">
        </div>
        <div>
            <label>includes:
        </label>
            <ul class="checkbox-items form-check">
                <li *ngFor="let item of checkboxesDataList">
                    <input type="checkbox" name="checkbox " [(ngModel)]="item.isChecked " (change)="changeSelection() "><label style="margin: 0 0 0 10px;">{{item.label}}</label>
                </li>
            </ul>
        </div>
    </form>
    <div class="justify-content-center ">
        <div class="span">Result</div>
        <textarea class="form-control w-100 " name="Password " id="password " cols="30 " rows="1 " disabled>{{regvedaData}}</textarea>
    </div>
</div>