<div class="col">
    <div class="header">
        <legend>THIRUKKURAL</legend>
        <p class="header-text"> Thirukkural is considered to be the world's greatest work on ethics and morality gifted by the Tamilians. <br> Written by the poetic saint Thiruvalluvar, it is the collection of 1330 two-lined poems, each of which shows the path to integrity,
            non-violence and knowledge. <br>
        </p>
    </div>
    <div class="important">
        <p><i class="fas fa-info-circle"></i> Imprtant for Search:
            <br>Valid values for searches are 1 through 1330(because there are only 1330 total two-line poem)
        </p>
    </div>
    <form #searchForm="ngForm" (ngSubmit)="setId(thirukkuralData.number)" class="form-control input-group mb-3 w-50">
        <!-- <legend></legend> -->
        <label style="margin: 10px;">Poem No</label>
        <input type="number" min="1" max="1330" #ID="ngModel" class="form-control" name="ID" [(ngModel)]="thirukkuralData.number" required/>
        <button name="search" class="btn btn-primary" type="submit" [disabled]="searchForm.invalid">Search</button>
    </form>

    <div class="notice" *ngIf="ID.invalid"><span><i class="fas fa-exclamation-triangle"></i> Please Enter value in Range of 1 to 1330</span></div>


    <div></div>
    <table *ngIf="searchForm.valid">
        <tr>
            <td colspan="2" style="background-color: rgba(240, 248, 255, 0.342); border-radius: 4px;text-align: center;">
                <h4>Tamil Poem</h4>
            </td>

        </tr>
        <tr>
            <th>Poem number</th>
            <td>{{id}}</td>
        </tr>

        <tr>
            <th>sect_tam</th>
            <td>{{thirukkuralData.sect_tam}}</td>
        </tr>
        <tr>
            <th>chapgrp_tam</th>
            <td>{{thirukkuralData.chapgrp_tam}}</td>
        </tr>
        <tr>
            <th>chap_tam</th>

            <td>{{thirukkuralData.chap_tam}}</td>
        </tr>
        <tr>
            <th>line1</th>

            <td>{{thirukkuralData.line1}}</td>
        </tr>
        <tr>
            <th>line2</th>

            <td>{{thirukkuralData.line2}}</td>
        </tr>
        <tr>
            <th>tam_exp</th>

            <td>{{thirukkuralData.tam_exp}}</td>
        </tr>
        <tr>
            <td colspan="2" style="background-color: rgba(240, 248, 255, 0.342); border-radius: 4px;text-align: center;">
                <h4>English Translation</h4>
            </td>

        </tr>
        <tr>
            <th>sect_eng</th>

            <td>{{thirukkuralData.sect_eng}}</td>
        </tr>
        <tr>
            <th>chapgrp_eng</th>

            <td>{{thirukkuralData.chapgrp_eng}}</td>
        </tr>
        <tr>
            <th>chap_eng</th>

            <td>{{thirukkuralData.chap_eng}}</td>
        </tr>
        <tr>
            <th>eng</th>

            <td>{{thirukkuralData.eng}}</td>
        </tr>
        <tr>
            <th>eng_exp</th>
            <td>{{thirukkuralData.eng_exp}}</td>
        </tr>


    </table>
</div>